
.button-box{
    width:320px;
    margin:35px auto;
    position:relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius:30px;
}
.toggle-btn{
    padding:10px 30px;
    cursor:pointer;
    background:transparent;
    border:0;
    outline:none;
    position:relative;
}
#btn{
    top:0;
    left:0;
    position:absolute;
    width:160px;
    height:100%;
    background:linear-gradient(to right, #ff105f,#ffad06);
    border-radius:30px;
    transition:.5s;
}



.submit-btn{
    width:120px;
    padding: 10px 30px;
    cursor:pointer;
    display:block;
    margin:auto;
    background:skyblue;
    border: 0;
    outline: none;
    border-radius:30px;
}


#createroom{
    left:50px;
}
#joinroom{
    left:50px;
}
#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   
   
}